backoff==2.2.1
black==24.4.2
flake8==7.1.0
flask==3.0.3
flask-cors==4.0.1
flask-session==0.8.0
flask-marshmallow==1.2.1
google-generativeai==0.7.2
marshmallow==3.21.3
openai==1.37.1
PyMySQL==1.1.0
python-dotenv==1.0.0
redis==5.0.7
sentence-transformers==3.0.1
SQLAlchemy==2.0.30
sqlparse==0.5.1
tidb-vector==0.0.9
tiktoken==0.7.0



